.ticker,
.tickerWrapper,
.tickerWrapper2 {
    background: #fff;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
    margin-bottom: 1.45rem;
    overflow: hidden;
    position: relative;
    top: 0;
    white-space: nowrap;
    width: 100%;
    min-width: 1200px;
}

.ticker {
    box-shadow: 3px 3px 3px #808080;
}

.tickerWrapper {
    animation: ticker 45s infinite linear;
}

.tickerWrapper2 {
    animation: ticker 45s infinite linear;
    left: 100%;
    position: absolute;
    top: 0;
}

.tickerStock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stockQuote {
    align-self: center;
    color: #000;
    cursor: pointer;
    font-size: 18px;
}

.positiveChange {
    color: #00FF00;
    font-size: 14px;
}

.negativeChange {
    color: #FF0000;
    font-size: 14px;
}

@-webkit-keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        webkit-transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        webkit-transform: translate3d(-100%, 0, 0);
    }
}