* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
}

html {
    background: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
    khtml-user-select: none;
    moz-user-select: none;
    ms-user-select: none;
    user-select: none;
    webkit-touch-callout: none;
    webkit-user-select: none;
}

.mainContentContainer {
    animation: fadeInLayout 1.5s ease-in;
    height: 100%;
    moz-animation: fadeInLayout 1.5s ease-in;
    o-animation: fadeInLayout 1.5s ease-in;
    opacity: 1;
    overflow-x: scroll;
    padding: 0;
    position: relative;
    webkit-animation: fadeInLayout 1.5s ease-in;
    width: 100%;
}

.pageHeader {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 180%;
    margin-bottom: 2%;
}

tr:nth-child(odd) {
    background: #ddd;
}

.pricePositive {
    color: #00ff00;
    margin-bottom: 1%;
    text-align: center;
}

.priceNegative {
    color: #ff0000;
    margin-bottom: 1%;
    text-align: center;
}

.priceNull {
    color: #000;
    margin-bottom: 1%;
    text-align: center;
}

.tableHeader {
    cursor: pointer;
    text-align: center;
}

.triUp {
    border-color: transparent transparent #141930 transparent;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    cursor: pointer;
    height: 0;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    width: 0;
}

.triDown {
    border-color: #141930 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    cursor: pointer;
    height: 0;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    width: 0;
}

.globalGraphButton {
    align-items: center;
    background-color: #808080;
    border: solid 1px #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 10px 0 10px;
    width: 60px;
}

.globalAccountsButton {
    background: #141930;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
}

.highlighted {
    background-color: #58bf75;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(225, 227, 230);
    border-radius: 5px;
}

@-webkit-keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}