* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

html {
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.mainContentContainer {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-animation: fadeInLayout 1.5s ease-in;
  
    -moz-animation: fadeInLayout 1.5s ease-in;
  
    -o-animation: fadeInLayout 1.5s ease-in;
  
    animation: fadeInLayout 1.5s ease-in;
    padding: 0;
    overflow-x: scroll;
}

.pageHeader {
    margin-bottom: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180%;
}

tr:nth-child(odd) {
    background: #ddd;
}

.pricePositive {
    color: #00FF00;
    margin-bottom: 1%;
    text-align: center;
}

.priceNegative {
    color: #FF0000;
    margin-bottom: 1%;
    text-align: center;
}

.priceNull {
    color: #000;
    margin-bottom: 1%;
    text-align: center;
}

.tableHeader {
    text-align: center;
    cursor: pointer;
}

.triUp {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #141930 transparent;
    position: absolute;
    margin-left: 10px;
    top: 20px;
    cursor: pointer;
}

.triDown {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #141930 transparent transparent transparent;
    position: absolute;
    margin-left: 10px;
    top: 20px;
    cursor: pointer;
}

.globalGraphButton {
    align-items: center;
    background-color: #808080;
    border: solid 1px #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 60px;
    margin: 0 10px 0 10px;
}

.globalAccountsButton {
    background: #141930;
    color: #fff;
    margin-right: 10px;
}

.highlighted {
    background-color: #58BF75;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(225, 227, 230);
    border-radius: 5px;
}

@-webkit-keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLayout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}