.spinnerContainer {
    display: block;
    height: 100%;
    padding: 1rem;
    width: 12.5%;
    margin: auto;
}

.dash-spinner-title {
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    width: 100%;
}

.dash-spinner-title p {
    animation: dash-title 2s infinite;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
}

.dash-spinner {
    border-radius: 4px;
    display: flex;
    height: 200px;
    margin: 0 auto;
    position: relative;
    width: 200px;
    z-index: -2;
}

.dash-spinner__bottom {
    display: flex;
    flex-direction: column;
    height: 12px;
    margin-top: auto;
    width: 100%;
}

.dash-spinner__background {
    display: block;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.dash-bar {
    animation: bar-one 2s infinite;
    background-color: #119DFF;
    border-radius: 8px;
    display: inline-flex;
    height: 2px;
    transform-origin: 0% 0%;
}

.dash-bar__one {
    bottom: -10px;
    left: 8px;
    position: relative;
    transform: rotate(-50deg);
}

.dash-bar__two {
    animation: bar-two 2s infinite;
    animation-delay: 2s infinite;
    bottom: 26px;
    left: 33px;
    position: relative;
    transform: rotate(25deg);
}

.dash-bar__three {
    animation: bar-three 2s infinite;
    animation-delay: 2s infinite;
    bottom: 15px;
    left: 57px;
    position: relative;
    transform: rotate(-30deg);
}

.dash-vert {
    bottom: 0px;
    box-shadow: 3px 3px 3px;
    display: inline-block;
    margin: none;
    position: absolute;
    transform-origin: 0% 0%;
    width: 20px;
}

.dash-vert__one {
    animation: vert-one 2s infinite;
    background-color: #5c5a92;
}

.dash-vert__two {
    animation: vert-two 2s infinite;
    background-color: #a74d0d;
    left: 25px;
}

.dash-vert__three {
    animation: vert-three 2s infinite;
    background-color: #197c65;
    left: 50px;
}

.dash-vert__four {
    animation: vert-four 2s infinite;
    background-color: #bd6353;
    left: 75px;
}

.dash-dot {
    background-color: #119DFF;
    border-radius: 100%;
    box-shadow: 3px 3px 3px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 2;
}

.dash-dot__one {
    animation: dot-one 2s infinite;
    bottom: 0px;
    left: 7px;
}

.dash-dot__two {
    animation: dot-two 2s infinite;
    bottom: 28px;
    left: 31px;
}

.dash-dot__three {
    animation: dot-three 2s infinite;
    bottom: 18px;
    left: 55px;
}

.dash-dot__four {
    animation: dot-four 2s infinite;
    bottom: 34px;
    left: 82px;
}

@keyframes dot-one {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-two {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-three {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-four {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes vert-one {
    0% {
        height: 0px;
    }
    100% {
        height: 40px;
    }
}

@keyframes vert-two {
    0% {
        height: 0px;
    }
    30% {
        height: 0px;
    }
    100% {
        height: 60px;
    }
}

@keyframes vert-three {
    0% {
        height: 0px;
    }
    30% {
        height: 0px;
    }
    50% {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}

@keyframes vert-four {
    0% {
        height: 0px;
    }
    30% {
        height: 0px;
    }
    50% {
        height: 0px;
    }
    60% {
        height: 0px;
    }
    100% {
        height: 60px;
    }
}

@keyframes bar-one {
    0% {
        width: 0%;
    }
    30% {
        width: 20%;
    }
    60% {
        width: 20%;
    }
    100% {
        width: 20%;
    }
}

@keyframes bar-two {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    60% {
        width: 15%;
    }
    100% {
        width: 15%;
    }
}

@keyframes bar-three {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    60% {
        width: 0%;
    }
    100% {
        width: 17%;
    }
}

@keyframes dash-title {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}