.searchWrapper {
    bottom: 12%;
    height: 40px;
    left: 60%;
    position: absolute;
    width: 320px;
}

.searchBar {
    background: #141930;
    border-radius: 20%;
    box-shadow: 0 0 5px 0 #0c2a46;
    height: 40px;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: 40px;
    z-index: 4;
}

.searchBar:hover {
    cursor: pointer;
}

.searchBar::before {
    background: white;
    bottom: 0;
    content: "";
    height: 2px;
    left: 22px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 22px;
    transform: rotate(45deg);
    width: 12px;
}

.searchBar::after {
    border: 2px solid white;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 25px;
    left: -5px;
    margin: auto;
    position: absolute;
    right: 0;
    top: -5px;
    width: 25px;
}

.input {
    background: #141930;
    border: none;
    border-radius: 30px;
    bottom: 0;
    color: white;
    font-size: 80%;
    font-weight: bold;
    height: 40px;
    left: 0;
    opacity: 0;
    outline: none;
    padding: 0 20px 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s;
    width: 0;
    z-index: 5;
}

.input:hover {
    color: #000;
    cursor: pointer;
}

.input:focus {
    background: #fff;
    color: #000;
    cursor: text;
    opacity: 1;
    width: 20em;
}

.input:focus~.searchBar {
    background: #0c2b47;
    border-radius: 50%;
    box-shadow: none;
    ms-transform: rotate(360deg);
    opacity: 0;
    transform: rotate(360deg);
}

.input::placeholder {
    color: #000;
    font-weight: bold;
    opacity: 0.5;
}

.searchResultList {
    background: #fff;
    border-radius: 1px;
    height: 200px;
    left: -5.8%;
    list-style: none;
    min-width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 99.5%;
    white-space: nowrap;
    width: 92%;
    z-index: 9999;
}

.searchBarListItem {
    border-bottom: solid 1px lightgray;
    margin-bottom: 0;
    padding: 2px;
    text-indent: 2.5%;
    width: 100%;
}

.searchBarListItem:hover {
    background-color: lightskyblue;
}

.companListSymbol {
    font-size: 20px;
    font-weight: 900;
}

.closeIcon {
    background-color: transparent;
    border: 1px solid transparent;
    bottom: 5px;
    cursor: pointer;
    display: inline-block;
    moz-transition: all 525ms;
    opacity: 0;
    o-transition: all 525ms;
    outline: 0;
    position: relative;
    transition: all 525ms;
    vertical-align: middle;
    webkit-transition: all 525ms;
    z-index: 9;
}

.closeIcon:after {
    background-color: #fa9595;
    border-radius: 50%;
    box-shadow: 0 0 2px #e50f0f;
    color: white;
    content: "X";
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    height: 15px;
    left: 50px;
    line-height: 12px;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 15px;
    z-index: 9999;
}

.input:focus~.closeIcon {
    opacity: 1;
    transform: translateX(240px);
}

@media all and (max-width: 920px) {
    .searchWrapper,
    .searchResultsList {
        left: 30%;
    }
}