.searchWrapper {
    position: absolute;
    width: 320px;
    height: 40px;
    left: 60%;
    bottom: 12%;
}

.searchBar {
    background: #141930;
    border-radius: 20%;
    box-shadow: 0 0 5px 0 #0C2A46;
    height: 40px;
    top: 0;
    position: absolute;
    transition: all .4s;
    width: 40px;
    z-index: 4;
}

.searchBar:hover {
    cursor: pointer;
}

.searchBar::before {
    background: white;
    bottom: 0;
    content: "";
    height: 2px;
    left: 22px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 22px;
    transform: rotate(45deg);
    width: 12px;
}

.searchBar::after {
    border: 2px solid white;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 25px;
    left: -5px;
    margin: auto;
    position: absolute;
    right: 0;
    top: -5px;
    width: 25px;
}

.input {
    background: #141930;
    border: none;
    border-radius: 30px;
    bottom: 0;
    color: white;
    font-size: 80%;
    font-weight: bold;
    height: 40px;
    left: 0;
    opacity: 0;
    outline: none;
    padding: 0 20px 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s;
    width: 0;
    z-index: 5;
}

.input:hover {
    color: #000;
    cursor: pointer;
}

.input:focus {
    background: #fff;
    color: #000;
    cursor: text;
    opacity: 1;
    width: 330px;
}

.input:focus~.searchBar {
    background: #0C2B47;
    border-radius: 50%;
    box-shadow: none;
    ms-transform: rotate(360deg);
    opacity: 0;
    transform: rotate(360deg);
}

.input::placeholder {
    color: #000;
    font-weight: bold;
    opacity: 0.5;
}

.searchResultList {
    position: absolute;
    left: -2.5%;
    top: 100%;
    list-style: none;
    height: 200px;
    width: 92%;
    min-width: 250px;
    background: #fff;
    z-index: 9999;
    border-radius: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}

.searchBarListItem {
    text-indent: 2.5%;
    border-bottom: solid 1px lightgray;
    margin-bottom: 0;
    padding: 2px;
    width: 100%;
}

.searchBarListItem:hover {
    background-color: lightskyblue;
}

.companListSymbol {
    font-size: 20px;
    font-weight: 900;
}

.closeIcon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
    position: relative;
    bottom: 16px;
    z-index: 9;
    opacity: 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.closeIcon:after {
    content: "X";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    left: -200%;
    top: 12px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
    z-index: 9999;
}

.input:focus~.closeIcon {
    transform: translateX(330px);
    opacity: 1;
}

@media all and (max-width: 920px) {
    .searchWrapper,
    .searchResultsList {
        left: 30%;
    }
}