.mainHeader {
    overflow: hidden;
    top: 0;
    width: 100%;
}

.headerContainer {
    background: #59C173;
    background: linear-gradient(to right, #141930, #141930, #4286f4, #59C173);
    background: -webkit-linear-gradient(to right, #141930, #141930, #4286f4, #59C173);
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.75);
    height: 120px;
    moz-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    top: 0;
    webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.mainHeaderLogoContainer {
    max-width: 200px;
    position: absolute;
    top: -60px;
    width: 200px;
}

.accessButtonContainer {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-around;
    position: absolute;
    right: 0%;
    width: 180px;
}