.mainContentCompanyContainer {
    animation: fadeInLayout 3s ease-in;
    display: flex;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    moz-animation: fadeInLayout 3s ease-in;
    o-animation: fadeInLayout 3s ease-in;
    opacity: 1;
    padding: 0;
    position: relative;
    webkit-animation: fadeInLayout 3s ease-in;
    width: 95%;
}

.fiftyFiveMainContentContainer {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 60%;
}

.fortyFiveMainContentContainer {
    align-self: flex-end;
    background: #141930;
    border-radius: 5px;
    height: 100%;
    margin-left: 1%;
    width: 40%;
}

@media only screen and (max-width: 1300px) {
    .mainContentCompanyContainer {
        flex-direction: column;
    }
    .fiftyFiveMainContentContainer,
    .fortyFiveMainContentContainer {
        margin-bottom: 20px;
        width: 100%;
    }
    .accountsButtonContainer {
        justify-content: center !important;
    }
}

.chartContainer {
    height: 550px;
    margin-left: 1%;
    overflow: visible;
    padding-bottom: 100px;
    width: 100%;
}

.pageHeader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180%;
    left: 0;
    margin-bottom: 1%;
    margin-left: 2.5%;
    width: 50%;
}

.companyHeaderRow {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    position: relative;
}

.companyImage {
    align-self: baseline;
    height: auto;
    margin-right: 15px;
    width: 60px;
}

.descriptionTitle {
    align-self: baseline;
    margin-right: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.description {
    align-self: baseline;
    font-size: 16px;
    margin-right: 20px;
    white-space: nowrap;
}

.backgroundInfo {
    font-size: 70%;
    font-weight: 900;
    height: auto;
    line-height: 120%;
    position: relative;
    top: -20px;
}

.companyRating:hover+.companyRatingsCard {
    opacity: 1;
}

.companyRatingsCard {
    background-color: aliceblue;
    box-shadow: 3px 3px 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 215px;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all .5s;
    white-space: nowrap;
    width: 300px;
    z-index: 9;
}

.cardInfoBar {
    align-items: center;
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
}

.cardDataName {
    font-weight: 900;
}

.cardScore {
    width: 125px;
}

.recommendation {
    font-weight: 900;
}

.companyDataBrief {
    display: flex;
    margin-right: 4%;
    position: relative;
    width: 100%;
}

.companyDataSection {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 50%;
}

.dataBriefHeaderSection {
    align-items: center;
    background: #141930;
    color: #fff;
    display: flex;
    height: 50px;
    justify-content: flex-start;
    text-indent: 10px;
    width: 100%;
}

.infoBar {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.infoBar:nth-of-type(odd) {
    background: #ddd;
}

.dataName {
    font-weight: 900;
}

.graphButtonContainer {
    align-items: center;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    width: 100%;
}

.graphTypeContainer {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.graphTimeLineContainer {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.accountsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    position: relative;
    width: 95%;
}

.accountsButtonContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.5%;
    margin-top: 0.2%;
    width: 100%;
}

.statementHeader {
    margin-left: 2.5%;
    width: 50%;
}

.thData {
    font-weight: 900;
    text-align: center;
}

.financialTableContainer {
    font-size: 33% !important;
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 95%;
    overflow-x: scroll;
    position: relative;
    text-indent: 10px;
    width: 95%;
}

.financialTable {
    width: 100%;
}

td {
    text-align: center;
}

.downloadToCsvButton {
    font-size: 20px;
    margin-bottom: 1%;
}