.companyImage {
    animation: blurIn 2s;
    height: auto;
    margin: auto;
    padding: 0;
    width: 60px;
}

@keyframes blurIn {
    0% {
        filter: blur(50px);
    }
    100% {
        filter: blur(0)
    }
}