.menuNavContainer {
    position: fixed;
    width: 120px;
    height: 40px;
    left: 20px;
    top: 250px;
    border: solid 1px #141930;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    transition: top 0.3s ease-out;
    z-index: 9;
    box-shadow: 3px 3px 3px #808080;
}

.burgerContainer {
    cursor: pointer;
    display: inline-block;
    z-index: 999;
}

.bar1,
.bar2,
.bar3 {
    background-color: #333;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    width: 35px;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}