.navContainer {
    position: fixed;
    background: transparent;
    left: -1000px;
    top: 250px;
    width: 250px;
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all .5s;
}

.mainNavList {
    list-style: none outside none;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainNavListItem {
    border-bottom: 1px solid #575757;
    border-left: 1px solid #929292;
    border-right: 1px solid #5d5d5d;
    border-top: 1px solid #797979;
    height: 40px;
    margin-bottom: 0.5%;
    margin-left: 6%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141930;
    transition: all .5s;
    padding-left: 5px;
}

.navListLink {
    width: 100%;
    outline: medium none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 80%;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-left: 1%;
}

.mainNavListItem:hover {
    -webkit-animation: listItemHover 0.3s linear;
    -moz-animation: listItemHover 0.3s linear;
    animation: listItemHover 0.3s linear;
    margin-left: -0.5%;
    background: #57BD7A;
}

@keyframes listItemHover {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.05);
        transform: rotate3d(0, 1, 0, 5deg);
        -webkit-box-shadow: -3px 0px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 0px 11px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 0px 11px 0px rgba(0, 0, 0, 0.75);
    }
    100% {
        transform: scale(1.02);
        transform: rotate3d(0, 1, 0, 15deg);
        -webkit-box-shadow: -5px 1px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -5px 1px 11px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -5px 1px 11px 0px rgba(0, 0, 0, 0.75);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}