.majorIndexesOuterContaner {
    border-left: solid 1px #808080;
    border-right: solid 1px #808080;
    box-shadow: 3px 3px 3px 3px #808080;
    height: 140px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.majorIndexesInnerContainer {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: space-around;
    position: relative;
    transition: all 1s;
    width: 3900px;
}

.majorCard {
    background: #fff;
    border: solid 1px #808080;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #808080;
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow: hidden;
    width: 180px;
}

.majorCardName {
    font-size: 12px;
    font-weight: 900;
    line-height: 20px;
    margin-bottom: 12px;
    text-decoration: underline;
    text-indent: 5px;
}

.majorCardPrice {
    align-self: center;
    margin-bottom: 4%;
}

.majorCardPricePositive {
    align-self: center;
    color: #00FF00;
    font-size: 15px;
    margin-bottom: 1%;
}

.majorCardPriceNegative {
    align-self: center;
    color: #FF0000;
    font-size: 15px;
    margin-bottom: 1%;
}

.majorCardPriceNull {
    align-self: center;
    color: #000;
    font-size: 15px;
    margin-bottom: 1%;
}

.controlContainer {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-around;
    margin-bottom: 5px;
    width: 80px;
}

.majorLeftTriangle {
    border-color: transparent #141930 transparent transparent;
    border-style: solid;
    border-width: 8px 26.6px 8px 0;
    height: 0;
    width: 0;
}

.majorRightTriangle {
    border-color: transparent transparent transparent #141930;
    border-style: solid;
    border-width: 8px 0 8px 26.6px;
    height: 0;
    width: 0;
}

.majorLeftTriangle:active {
    border-color: transparent #58BD7D transparent transparent;
}

.majorRightTriangle:active {
    border-color: transparent transparent transparent #58BD7D;
}