.joinButton {
    align-items: center;
    background-color: #141930;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 80%;
    height: 30px;
    justify-content: center;
    width: 60px;
}

.loginButton {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    font-size: 80%;
    height: 30px;
    justify-content: center;
    width: 60px;
}